# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/key.properties

# iOS related
**/ios/**/*.h
**/ios/**/*.m
**/ios/**/*.xcworkspace
**/ios/.symlinks/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/Runner/Assets.xcassets/
**/ios/Runner.xcodeproj/
**/ios/Runner.xcworkspace/
**/ios/ServiceDefinitions.json
**/ios/fastlane/
**/ios/firebase_app_id_file.json

# macOS related
**/macos/**/*.h
**/macos/**/*.m
**/macos/**/*.xcworkspace
**/macos/.symlinks/
**/macos/Flutter/ephemeral
**/macos/Pods/
**/macos/Runner.xcodeproj/
**/macos/Runner.xcworkspace/

# Linux related
**/linux/**/CMakeLists.txt.user
**/linux/**/build/**
**/linux/**/cmake_install.cmake
**/linux/**/install_bundle.sh
**/linux/**/Makefile
**/linux/.cmake

# Windows related
**/windows/**/CMakeLists.txt.user
**/windows/**/build/**
**/windows/**/cmake_install.cmake
**/windows/**/install_bundle.sh
**/windows/**/Makefile
**/windows/.cmake

# VS Code related
.vscode/
